// Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Admin LTE
@import '~admin-lte/dist/css/adminlte.min.css';

//SweetAlert
@import '~@sweetalert2/themes/dark/dark.scss';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-exact-active{
    background-color: #ec660e;
    color: white !important;
}
